:root {
  /*background color*/
  --main-background: #eeeeee;
  /*text-color*/
  --black-text: #000000;
  --white-text: #ffffff;
  --gray-text: #283136;
  --gray-text-product: #666666;
  --footer-text-p: #444444;

  /*special-colors*/
  --text-guidance: #fb565a;
  --main-logo-pressed: #a6a6a6;
  --catalog-button-guidance: #dfdfdf;
  --catalog-button-pressed: #d5d5d5;
  --logo-color-pressed: #a6a6a6;

  /*Buttons*/

  --button-web: #fb565a;
  --web-order-btn-guidance: #e74246;
  --web-order-btn-pressed: #d7373b;

  --button-app: #00ca74;
  --app-order-btn-guidance: #00bc6c;
  --app-order-btn-pressed: #00aa62;

  --button-pres: #efc849;
  --pres-order-btn-guidance: #eab534;
  --pres-order-btn-pressed: #e5a722;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black-text);
}
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.page a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

/*Header, navigation*/
.main-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--main-background);
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 60px;
}
.main-navigation-container {
  background-color: var(--main-background);
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 439px;
}
.basket {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 115px;
}

.nav-list a,
.basket a {
  color: var(--black-text);
}

.nav-list a:hover,
.nav-list a:focus,
.basket a:hover,
.basket a:focus {
  color: var(--text-guidance);
}
.nav-list a:active,
.basket a:active {
  cursor: default;
  mix-blend-mode: normal;
  opacity: 0.3;
  color: var(--black-text);
}
.nav-item.active {
  border-bottom: 2px solid var(--text-guidance);
  padding-bottom: 13px;
}
/*Slider*/
.slider-list {
  display: grid;
  grid-template-rows: 1fr;
  width: 1160px;
  margin: 0 auto;
  padding: 0px;
}
.slider-container {
  background-color: var(--main-background);
  padding-bottom: 80px;
}
.slider-item {
  list-style: none;
}
.slider-item h3 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-bottom: 25px;
}
.slider-item p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-text);
  margin-bottom: 55px;
}
.more-info-slider-btn {
  font: inherit;
  text-align: center;
  color: var(--white-text);
  vertical-align: middle;
  background-color: var(--button-web);
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 17px 54px;
}
.more-info-slider-btn:hover,
.more-info-slider-btn:focus {
  background-color: var(--web-order-btn-guidance);
}

.more-info-slider-btn:active {
  cursor: default;
  background-color: var(--web-order-btn-pressed);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}
/*Main-container*/
.main-container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
/*Services*/
.services {
margin-top: 80px;
margin-bottom: 80px;
}
.services-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 70px;
  padding-left: 0px;
  margin: 0;
  padding: 0;
}
.services-item {
  text-align: left;
}
.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.services-item p {
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-text);
}

.web-order-btn {
  font: inherit;
  text-align: center;
  color: var(--white-text);
  vertical-align: middle;
  background-color: var(--button-web);
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 17px 40px;
}

.web-order-btn:hover,
.web-order-btn:focus {
  background-color: var(--web-order-btn-guidance);
}

.web-order-btn:active {
  cursor: default;
  background-color: var(--web-order-btn-pressed);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.app-order-btn {
  font: inherit;
  text-align: center;
  color: var(--white-text);
  vertical-align: middle;
  background-color: var(--button-app);
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 17px 40px;
}
.app-order-btn:hover,
.app-order-btn:focus {
  background-color: var(--app-order-btn-guidance);
}

.app-order-btn:active {
  cursor: default;
  background-color: var(--app-order-btn-pressed);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.pres-order-btn {
  font: inherit;
  text-align: center;
  color: var(--white-text);
  vertical-align: middle;
  background-color: var(--button-pres);
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 17px 40px;
}
.pres-order-btn:hover,
.pres-order-btn:focus {
  background-color: var(--pres-order-btn-guidance);
}
.pres-order-btn:active {
  cursor: default;
  background-color: var(--pres-order-btn-pressed);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}
/*About*/
.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-top: 2px solid var(--main-background);
  padding-top: 39px;
  margin-bottom: 71px;
  column-gap: 140px;
}
.about-content.heading {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.about-content.description {
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-text);
}
.about-content.order-list {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--gray-text);
  font-weight: bold;
}
.features-list {
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-text);
}
.description-heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.description-term {
  font-size: 16px;
  line-height: 18px;
  color: var(--gray-text);
}
.description-definition {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}
.description-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 374px;
}
/*Companies*/
.companies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid var(--main-background);
  border-bottom: 2px solid var(--main-background);
  height: 180px;
  margin-bottom: 80px;
}
.border-element {
width: 2px;
height: 52px;
background-color: var(--main-background);
}
.companies-item {
  opacity: 0.2;
}
.companies-item:hover,
.companies-item:focus {
  opacity: 1;
}
.companies-item:active {
  opacity: 0.1;
}
/*Footer*/
.main-footer {
  width: 1160px;
  margin: 0 auto;
}
.footer-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.map {
  justify-self: center;
  padding: 0px;
}
.address-card {
  width: 308px;
  height: 319px;
}
.address-card h4 {
  font-weight: bold;
font-size: 18px;
line-height: 30px;
text-transform: uppercase;
}
.address-card p {
  font-weight: normal;
font-size: 16px;
line-height: 18px;
color: var(--gray-text-product);
}
.adress-btn {
  border-radius: 3px;
  background-color: var(--button-web);
  color: var(--white-text);
  font-weight: 500;
font-size: 16px;
line-height: 18px;
padding: 17px 44px;
text-transform: uppercase;
}
.adress-btn:hover,
.adress-btn:focus {
  background-color: var(--web-order-btn-guidance);
}
.adress-btn:active {
  cursor: default;
  background-color: var(--web-order-btn-pressed);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}
.social {
  list-style: none;
  padding: 0 10px;
  display: flex;
}
.a-btn-soc {
  border-radius: 50%;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}
.a-btn-soc:hover,
.a-btn-soc:focus {
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}
.a-btn-soc:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.stuff {
  padding: 0 10px;
}
.stuff-high {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
.stuff-low {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--footer-text-p);
}
/*Catalog*/
.magasine-header-container {
  background-color: var(--main-background);
  padding-top: 72px;
  padding-bottom: 108px;
  margin-bottom: 55px;
}
.magasine-header {
  background-color: var(--main-background);
  text-align: center;
  width: 1160px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}
.catalog-container {
  display: grid;
  grid-template-areas:
     "price sorting"
     "price product";
  grid-template-columns: min-content 1fr;
  align-content: start;
  width: 1160px;
  margin: 0 auto;
}
/*Price*/
.price {
  grid-area: price;
}
/*Sorting*/
.sorting {
  grid-area: sorting;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
  width: 288px;
}
.sorting h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.sorting-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}
.sorting-list h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.sorting-item a {
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: var(--black-text);
  mix-blend-mode: normal;
  opacity: 0.3;
}
.sorting-item a:hover,
.sorting-item a:focus {
  opacity: 0.6;
}
.sorting-item a:active {
  color: var(--black-text);
  opacity: 1;
}
.price-range-container h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.price-range-container {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-text);
  background-color: var(--main-background);
  border-radius: 3px;
}
.grid-choise-container h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.grid-choise-container {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-text);
}
.features-checkbox-container h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.features-checkbox-container {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-text);
}
.sorting-show-button {
  background-color: var(--main-background);
  color: var(--black-text);
  border-radius: 3px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.sorting-show-button:hover,
.sorting-show-button:focus {
  background-color: var(--catalog-button-guidance);
}
.sorting-show-button:active {
  cursor: default;
  background-color: var(--catalog-button-pressed);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  mix-blend-mode: normal;
  opacity: 0.3;
}
/*Product*/
.product {
  grid-area: product;
}
.product-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
.button-buy {
  background-color: var(--button-web);
  border-radius: 3px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--white-text);
  text-align: center;
  text-transform: uppercase;
}
.button-buy:hover,
.button-buy:focus {
  background-color: var(--web-order-btn-guidance);
}
.button-buy:active {
  cursor: default;
  background-color: var(--web-order-btn-pressed);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.product-name-a {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-name-a:hover,
.product-name-a:focus {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-guidance);
}
.product-name-a:active {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.3;
  color: var(--black-text);
}
.buy-bar p {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--gray-text-product);
}
.pagination {
  list-style: none;
}
.page-nav-item a {
  background-color: var(--main-background);
  color: var(--black-text);
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
}
.page-nav-item a:hover,
.page-nav-item a:focus {
  background-color: var(--catalog-button-guidance);
}
.page-nav-item a:active {
  background-color: var(--catalog-button-pressed);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  mix-blend-mode: normal;
  color: rgba(0, 1, 1, 0.3);
}
.page-nav-item.active {
  background: rgba(0, 0, 0, 0.0001);
  border: 3px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}