:root {
  /*background color*/
  --main-background: #eeeeee;
  /*text-color*/
  --black-text: #000000;
  --white-text: #ffffff;
  --gray-text: #283136;
  --gray-text-product: #666666;
  --footer-text-p: #444444;

  /*special-colors*/
  --text-guidance: #fb565a;
  --main-logo-pressed: #a6a6a6;
  --catalog-button-guidance: #dfdfdf;
  --catalog-button-pressed: #d5d5d5;
  --logo-color-pressed: #a6a6a6;
  --product-background: #f2f2f2;
  --buy-bar-color: #4d4d4d;
  --range-line-color: #d7dcdf;
  --range-dot: #ABABAB;


  /*Buttons*/

  --button-web: #fb565a;
  --web-order-btn-guidance: #e74246;
  --web-order-btn-pressed: #d7373b;

  --button-app: #00ca74;
  --app-order-btn-guidance: #00bc6c;
  --app-order-btn-pressed: #00aa62;

  --button-pres: #efc849;
  --pres-order-btn-guidance: #eab534;
  --pres-order-btn-pressed: #e5a722;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black-text);
}
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.page a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Header, navigation*/
.main-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--main-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 60px;
}
.main-navigation-container {
  background-color: var(--main-background);
}
.main-logo-item.logo-active:active {
 opacity: 0.3;
}
.nav-list {
  position: relative;
  left: -22px;
  list-style: none;
  margin-top: 23px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 437px;
}
.basket {
  position: relative;
  top: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 115px;
}
.basket-ikon {
  position: relative;
  top: 2px;
  max-width: 100%;
}
.nav-list a,
.basket a {
  color: var(--black-text);
}

.nav-list .nav-item:hover,
.nav-list .nav-item:focus,
.basket a:hover,
.basket a:focus {
  color: var(--text-guidance);
}
.nav-list .nav-item:active,
.basket a:active {
  cursor: default;
  mix-blend-mode: normal;
  opacity: 0.3;
  color: var(--black-text);
}
.active {
  border-bottom: 2px solid var(--text-guidance);
  padding-bottom: 19px;
  color: var(--black-text);
}
/*Slider*/
.slider-list {
  display: grid;
  grid-template-rows: 1fr;
  width: 1160px;
  margin: 0 auto;
  padding: 0px;
  margin-bottom: 6px;
}
.slider-container {
  background-color: var(--main-background);
  padding-bottom: 75px;
  height: 346px;
}
.slider-item {
  list-style: none;
  position: absolute;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.slider-item.current {
  display: block;
  opacity: 1;
  z-index: 2;
}
.first-slide {
  position: absolute;
  top: -10px;
  left: 397px;
  z-index: 0;
  width: 760px;
  height: 431px;
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
}
.second-slide {
  position: absolute;
  top: -11px;
  left: 397px;
  z-index: 0;
  width: 760px;
  height: 431px;
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
}
.third-slide {
  position: absolute;
  top: -10px;
  left: 397px;
  z-index: 0;
  width: 760px;
  height: 431px;
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
}
.slider-item h3 {
  position: relative;
  top: 13px;
  z-index: 1;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-bottom: 25px;
}
.first-p {
  position: relative;
  top: 15px;
  z-index: 1;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-text);
  margin-bottom: 55px;
}
.second-p {
  position: relative;
  top: 26px;
  z-index: 1;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-text);
  margin-bottom: 55px;
}
.third-p  {
  position: relative;
  top: 27px;
  z-index: 1;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-text);
  margin-bottom: 55px;
}
.more-info-slider-btn {
  position: relative;
  top: 10px;
  z-index: 1;
  font: inherit;
  text-align: center;
  color: var(--white-text);
  vertical-align: middle;
  background-color: var(--button-web);
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 16px 55px;
}
.more-info-slider-btn:hover,
.more-info-slider-btn:focus {
  background-color: var(--web-order-btn-guidance);
}

.more-info-slider-btn:active {
  cursor: default;
  background-color: var(--web-order-btn-pressed);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}
.buttons-slider-container {
  width: 88px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 443px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}
.button-slider {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--white-text);
  border: 1px solid white;
  position: relative;
  outline: none;
}
.checked-button {
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 4px;
  left: 4px;
  display: none;
}
.checked-button.current {
  display: block;
}
/*Main-container*/
.main-container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
/*Services*/
.services {
  margin-top: 80px;
  margin-bottom: 93px;
}
.services-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 70px;
  padding-left: 0px;
  margin: 0;
  padding: 0;
}
.services-item {
  text-align: left;
}
.services-item.img2 {
  margin-left: -10px;
}
.services-item.img3 {
  margin-left: -20px;
}
.services-item.img1::before {
  content: url("../img/illustration-11.jpg");
}
.services-item.img2::before {
  content: url("../img/illustration-21.jpg");
}
.services-item.img3::before {
  content: url("../img/illustration-31.jpg");
}
.services-item h3 {
  margin-top: 18px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.services-item p {
  margin-top: -7px;
  margin-bottom: 44px;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-text);
}

.web-order-btn {
  font: inherit;
  text-align: center;
  color: var(--white-text);
  vertical-align: middle;
  background-color: var(--button-web);
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 16px 40px;
}

.web-order-btn:hover,
.web-order-btn:focus {
  background-color: var(--web-order-btn-guidance);
}

.web-order-btn:active {
  cursor: default;
  background-color: var(--web-order-btn-pressed);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.app-order-btn {
  font: inherit;
  text-align: center;
  color: var(--white-text);
  vertical-align: middle;
  background-color: var(--button-app);
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 16px 40px;
}
.app-order-btn:hover,
.app-order-btn:focus {
  background-color: var(--app-order-btn-guidance);
}

.app-order-btn:active {
  cursor: default;
  background-color: var(--app-order-btn-pressed);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.pres-order-btn {
  font: inherit;
  text-align: center;
  color: var(--white-text);
  vertical-align: middle;
  background-color: var(--button-pres);
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 16px 40px;
}
.pres-order-btn:hover,
.pres-order-btn:focus {
  background-color: var(--pres-order-btn-guidance);
}
.pres-order-btn:active {
  cursor: default;
  background-color: var(--pres-order-btn-pressed);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}
/*About*/
.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-top: 2px solid var(--main-background);
  padding-top: 39px;
  margin-bottom: 56px;
  column-gap: 140px;
  width: 1158px;
}
.about-container.first {
  margin-top: -10px;
}
.about-content.heading {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.about-content.description {
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-text);
  margin-top: -12px;
}
.about-content.order-list {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--gray-text);
  font-weight: bold;
  margin-top: 40px;
}
.features-list {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-text);
  padding-left: 0px;
  margin-top: 23px;
}
.features-item {
  margin-top: 24px;
}

.features-item::before {
  content: url("../img/ul-line-index.svg");
  margin-right: 12px;
  position: relative;
  top: -5px;
}
.about-container img {
  margin-left: 2px;
}
.description-heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 19px;
}
.description-term {
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-text);
  margin-top: 10px;
}
.description-definition {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  margin-left: -1px;
}
.description-definition sup {
  font-size: 61%;
}
.description-term.one {
  margin-top: 11px;
  margin-left: 3px;
}
.description-definition.one {
  margin-left: 3px;
}
.description-list {
  display: flex;
  width: 360px;
  margin-top: 30px;
}
.des-list-cont {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 0px;
  margin-right: 22px;
}
/*Companies*/
.companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid var(--main-background);
  border-bottom: 2px solid var(--main-background);
  height: 180px;
  margin-bottom: 80px;
}
.border-element {
  width: 2px;
  height: 52px;
  background-color: var(--main-background);
}
.border-element.boone {
  position: relative;
  left: -3px;
}
.border-element.botwo {
  position: relative;
  left: -24px;
}
.border-element.bothree {
  position: relative;
  left: -22px;
}
.companies-item {
  opacity: 0.2;
}
.companies-item.academy {
  position: relative;
  top: 10px;
  left: 5px;
}
.companies-item.borodinski {
  position: relative;
  top: 4px;
  left: -13px;
}
.companies-item.pink {
  position: relative;
  top: 4px;
  left: -22px;
}
.companies-item.mishka {
  position: relative;
  top: 7px;
  left: -15px;
}
.companies-item:hover,
.companies-item:focus {
  opacity: 1;
}
.companies-item:active {
  opacity: 0.1;
}
/*Footer*/
.main-footer {
  margin: 0 auto;
}
.footer-container {
  width: 1160px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
}
.map {
  position: relative;
  justify-self: center;
  padding: 0px;
  width: 100%;
  margin: 0 auto;
}
.map-marker {
  position: absolute;
  left: 822px;
  top: 86px;
}
.address-card {
  position: absolute;
  left: 140px;
  bottom: 61px;
  width: 319px;
  height: 308px;
  background-color: var(--white-text);
}
.address-card h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 49px;
  margin-left: 50px;
  margin-bottom: 23px;
}
.address-card p {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--gray-text-product);
  margin-left: 50px;
  margin-top: 17px;
}
.adress-kard-a-position {
  color: inherit;
  position: relative;
  left: 50px;
  top: -1px;
}
.adress-btn {
  position: relative;
  top: 47px;
  left: 1px;
  border-radius: 3px;
  background-color: var(--button-web);
  color: var(--white-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 15px 44px;
  text-transform: uppercase;
  margin-left: 50px;
}
.adress-btn:hover,
.adress-btn:focus {
  background-color: var(--web-order-btn-guidance);
}
.adress-btn:active {
  cursor: default;
  background-color: var(--web-order-btn-pressed);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}
.social {
  list-style: none;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  width: 273px;
  position: relative;
  left: -9px;
  top: 46px;
}
.a-btn-soc {
  border-radius: 50%;
  background: linear-gradient(0deg, #e1e1e1, #e1e1e1), #ffffff;
  display: flex;
  width: 78px;
  height: 78px;
  justify-content: center;
  margin-right: 13px;
}
.a-btn-soc-icon {
  margin: auto;
}
.a-btn-soc:hover,
.a-btn-soc:focus {
  background: linear-gradient(0deg, #e74246, #e74246), #ffffff;
}
.a-btn-soc:active {
  background: linear-gradient(0deg, #d7373b, #d7373b), #ffffff;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.a-btn-soc:active .a-btn-soc-icon {
  opacity: 0.3;
}
.stuff {
  padding: 0 10px;
}
.stuff-high {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin-top: 68px;
  margin-left: 3px;
}
.stuff-low {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--footer-text-p);
  margin-top: -26px;
  margin-left: 4px;
}
/*Modal*/
.modal-window {
  position: fixed;
  top: 15%;
  left: 472px;
  z-index: 20;
  width: 960px;
  height: 590px;
  font-family: inherit;
  background:var(--white-text);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  display: none;
}
.modal-show {
  display: block;
}
.form-container {
  display: flex;
  margin-left: 100px;
  margin-top: 56px;
  flex-wrap: wrap;
  width: 761px;
  height: 353px;
}
.modal-window h3 {
  position: relative;
  top: 19px;
  left: 100px;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}
.labelform {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}
.labelform.email {
  position: relative;
  left: 40px;
}
.labelform.message {
  position: relative;
  top: 10px;
  left: 1px;
}
.field {
  border: 2px solid #d7dcde;
  box-sizing: border-box;
  border-radius: 3px;
  width: 360px;
  height: 50px;
}
.field:hover {
  background: var(--white-text);
  border: 2px solid #b4b9bb;
  box-sizing: border-box;
  border-radius: 3px;
}
.field:focus {
  background:var(--white-text);
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 3px;
  color: black;
}
.name-field {
  width: 360px;
  height: 50px;
  position: relative;
  top: 9px;
  padding-left: 14px;
}
.name-field:invalid {
  background: var(--white-text);
  border: 2px solid #e74246;
  box-sizing: border-box;
  border-radius: 3px;
}
.mail-field {
  position: relative;
  top: 9px;
  width: 360px;
  height: 50px;
  padding-left: 14px;
}
.mail-field:invalid {
  background: var(--white-text);
  border: 2px solid #e74246;
  box-sizing: border-box;
  border-radius: 3px;
}
.message-field {
  position: relative;
  top: 9px;
  width: 760px;
  height: 118px;
  resize: none;
  padding-top: 14px;
  padding-left: 14px;
}
.field::placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--footer-text-p);
  opacity: 0.5;
}
.field:focus::placeholder {
  opacity: 1;
}
.submit-button {
  border-radius: 3px;
  background-color: var(--button-web);
  color: var(--white-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  outline: none;
  border: none;
  width: 259px;
  height: 50px;
  position: relative;
  top: 34px;
  left: 1px;
}
.submit-button:hover,
.submit-button:focus {
  background-color: var(--web-order-btn-guidance);
  outline: none;
}
.submit-button:active {
  cursor: default;
  background-color: var(--web-order-btn-pressed);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}
.close-modal-button {
  position: absolute;
  top: 72px;
  right: 84px;
  width: 33px;
  height: 33px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}
.close-modal-button img {
  width: 33px;
  height: 33px;
  opacity: 0.3;
}
.close-modal-button img:hover,
.close-modal-button img:focus {
  opacity: 1;
}
.close-modal-button img:active {
  opacity: 0.1;
}
/*Catalog*/
.magasine-header-container {
  background-color: var(--main-background);
  padding-top: 68px;
  padding-bottom: 108px;
  margin-bottom: 58px;
}
.magasine-header {
  background-color: var(--main-background);
  text-align: center;
  width: 1160px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}
.catalog-container {
  display: grid;
  grid-template-areas:
     "price sorting"
     "price product";
  grid-template-columns: min-content 1fr;
  align-content: start;
  width: 1160px;
  margin: 0 auto;
}
/*Price&flex*/
.price {
  grid-area: price;
  width: 260px;
}
.price-container {
  display: flex;
  flex-direction: column;
}
.grid-choise-container {
  display: flex;
  flex-direction: column;
}
.features-checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
/*Range*/
.price-range-container {
  margin: 0;
  padding: 0;
  border: none;
}
.range-filter {
  width: 260px;
  margin-top: 49px;
}
.price-range-container legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.range-controls {
  position: relative;
  top: 2px;
  height: 41px;
  background-color: var(--main-background);
  border-radius: 5px;
  margin-bottom: 16px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}
.range-controls .scale {
  height: 2px;
  background: var(--range-line-color);
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--button-app);
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white-text);
  background-color: var(--range-dot);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}
.price-controls label {
  text-transform: uppercase;
  font-family: inherit;
  font-size: 16px;
  margin-top: -1px;
  margin-left: 0px;
}
.price-controls input {
  font-family: inherit;
  width: 60px;
  height: 20px;
  padding: 10px;
  padding-left: 18px;
  padding-right: 2px;
  margin-left: 8px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: var(--main-background);
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
.price-controls {
  display: flex;
  justify-content: space-between;
}
/*Radio*/
.grid-choise-container {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-text);
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  top: 53px;
}
.grid-choise-container legend {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--black-text);
}
.radio-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 30px;
}
.radio-button {
 font-family: inherit;
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 19px;
 color: var(--gray-text);
}
.radio-button::before {
  content: url(../img/radio-off.svg);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  opacity: 0.4;
  position: absolute;
  top: -3px;
  left: -36px;
}
.radio-input:checked + .radio-button::before {
  content: url(../img/radio-on.svg);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  position: absolute;
  top: -3px;
  left: -36px;
}
.radio-input:focus + .radio-button::before {
  opacity: 1;
}
.radio-input:disabled + .radio-button::before {
  opacity: 0.1;
}
.radio-input:disabled + .radio-button {
  opacity: 0.3;
}
.radio.adaptive {
  margin-top: 16px;
}
.radio.fixed {
  margin-top: 21px;
}
.radio.rubber {
  margin-top: 21px;
}
.radio-button.adaptive {
  position: absolute;
  top: 46px;
  left: 36px;
}
.radio-button.fixed {
  position: absolute;
  left: 36px;
  top: 86px;
}
.radio-button.rubber {
  position: absolute;
  top: 126px;
  left: 36px;
}

/*Check-box*/
.features-checkbox-container {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-text);
  padding: 0;
  border: none;
  margin-top: 156px;
  margin-left: 1px;
}
.features-checkbox-container legend {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--black-text);
  margin-bottom: 16px;
}
.check {
  position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-text);
  margin-bottom: 40px;
  margin-left: 35px;
}
.check_input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 30px;
}
.check-box {
 font-family: inherit;
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 19px;
 color: var(--gray-text);
 white-space: nowrap;
}
.check-box::before {
  content: url(../img/checkbox-off.svg);
  width: 23px;
  height: 23px;
  opacity: 0.4;
  background-repeat: no-repeat;
  position: absolute;
  top: -2px;
  left: -36px;
}
.check_input:checked + .check-box::before {
  content: url(../img/checkbox-on.svg);
  width: 23px;
  height: 23px;
  opacity: 0.4;
  background-repeat: no-repeat;
}
.check_input:focus + .check-box::before {
  opacity: 1;
}
.check_input:disabled + .check-box::before {
  opacity: 0.1;
}
.check_input:disabled + .check-box {
  opacity: 0.3;
}
.check-box.slider {
 position: relative;
}
.check-box.advantages {
  position: relative;
  top: -19px;
}
.check-box.news {
  position: relative;
  top: -38px;
}
.check-box.gallery {
  position: relative;
  top: -57px;
}
.check-box.cart-basket {
  position: relative;
  top: -76px;
}
/*
.check-box {
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  opacity: 0.4;
  margin-left: -30px;
}
.check_input:checked + .check-box {
  background-image: url(../img/checkbox-on.svg);
  width: 25px;
}
.check-input:hover + .check-box {
  opacity: 1;
}
.check_input:focus + .check-box {
  opacity: 1;
}
.check_input:disabled + .check-box {
  opacity: 0.1;
}

.check-box.slider {
  position: absolute;
  left: -6px;
    top: -2px;
}
.check-box.advantages {
  position: absolute;
  left: -6px;
    top: -2px;
}
.check-box.news {
  position: absolute;
  left: -6px;
    top: -2px;
}
.check-box.gallery {
  position: absolute;
  left: -6px;
    top: -2px;
}
.check-box.cart-basket {
  position: absolute;
  left: -6px;
    top: -2px;
}
*/
/*Sorting-show-button*/
.sorting-show-button {
  background-color: var(--main-background);
  color: var(--black-text);
  border-radius: 3px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 16px 88px;
  margin-top: -65px;
  margin-left: -1px;
}
.sorting-show-button:hover,
.sorting-show-button:focus {
  background-color: var(--catalog-button-guidance);
}
.sorting-show-button:active {
  cursor: default;
  background-color: var(--catalog-button-pressed);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  mix-blend-mode: normal;
  opacity: 0.3;
}
/*Sorting*/
.sorting {
  grid-area: sorting;
  width: 759px;
  display: flex;
  justify-content: space-between;
  margin-left: 140px;
  margin-top: -18px;
}
.sorting h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.sorting-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 359px;
  margin-top: 17px;
}
.sorting-list h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.sorting-item a {
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: var(--black-text);
  mix-blend-mode: normal;
  opacity: 0.3;
}
.sorting-item a:hover,
.sorting-item a:focus {
  opacity: 0.6;
}
.sorting-item a:active {
  color: var(--black-text);
  opacity: 1;
}
.sorting-a.a-active {
  opacity: 1;
}
.sorting-item.bb {
  margin-left: -6px;
}
.sorting-item.cc {
  margin-left: -7px;
}
.sorting-item.to-down {
  position: relative;
  left: 15px;
  top: -1px;
}
/*Product*/
.product {
  grid-area: product;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.product-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: 55px;
}
.product-item {
  position: relative;
  top: 56px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 5px 5px;
  background-color: var(--product-background);
  width: 358px;
  margin-bottom: 30px;
}
.product-item img {
  display: block;
}
.product-item::before {
  content: url("../img/product-bar.svg");
  margin: 0px;
  width: 360px;
  position: absolute;
  top: -41px;
  left: -1px;
  opacity: 0.2;
}
.product-item:hover::before {
  opacity: 1;
}
.product-item:hover {
 background: var(--white-text);
 box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
 border-radius: 5px;
}
.button-buy {
  position: absolute;
  bottom: 42px;
  background-color: var(--button-web);
  border-radius: 3px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--white-text);
  text-align: center;
  text-transform: uppercase;
  padding: 17px 72px;
  margin-left: 80px;
  margin-right: 80px;
}
.button-buy:hover,
.button-buy:focus {
  background-color: var(--web-order-btn-guidance);
}
.button-buy:active {
  cursor: default;
  background-color: var(--web-order-btn-pressed);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.product-name-a {
  text-decoration: none;
  margin-top: 26px;
  color: var(--black-text);
  display: block;
  width: min-content;
  margin: auto;
}
.product-name-a:hover,
.product-name-a:focus {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-guidance);
}
.product-name-a:active {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.3);
}
.product-item:hover .buy-bar {
  display: block;
}
.buy-bar {
  position: absolute;
  top: 348px;
  left: -1px;
  width: 360px;
  height: 231px;
  background-color: var(--main-background);
  align-items: center;
  border-radius: 0 0 5px 5px;
  display: none;
}
.buy-bar h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 26px;
  margin-bottom: 16px;
}
.buy-bar p {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--gray-text-product);
}
.pagination {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 443px;
  margin-top: 40px;
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: 101px;
}
.page-nav-item a {
  background-color: var(--main-background);
  color: var(--black-text);
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  padding: 16px 20px;
}
.page-nav-item a:hover,
.page-nav-item a:focus {
  background-color: var(--catalog-button-guidance);
}
.page-nav-item a:active {
  background-color: var(--catalog-button-pressed);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  mix-blend-mode: normal;
  color: rgba(0, 1, 1, 0.3);
}
.page-nav-item.active-list a {
  background: rgba(0, 0, 0, 0.0001);
  border: 3px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 13px 17px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.page-nav-item-next a {
  background-color: var(--main-background);
  color: var(--black-text);
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  padding: 16px 78px;
}
.page-nav-item-next a:hover,
.page-nav-item-next a:focus {
  background-color: var(--catalog-button-guidance);
}
.page-nav-item-next a:active {
  background-color: var(--catalog-button-pressed);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  mix-blend-mode: normal;
  color: rgba(0, 1, 1, 0.3);
}